<script
  type="application/json"
  data-section-type="dynamic-slideshow"
  data-section-id="{{ section.id }}"
  data-section-data
>
  
</script>

{%- assign image = section.settings.image -%}
{%- assign heading = section.settings.title | escape -%}
{%- assign subtitle = section.settings.subtitle | escape -%}
{%- assign productsCollection = section.settings.collection -%}

{%- capture image_tag -%}
  {%- if section.settings.image != blank -%}
    {%
       render 'rimg'
     img: image,
     alt: heading,
     size: '1024x1024',
     lazy: true,
     focal_point: image.presentation.focal_point, %}
  {%- else -%}
    {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {%- endif -%}
{%- endcapture -%}

<div
  data-section-id="{{ section.id }}">
  <section
    class="collectionSlider featured-collection clearfix slideshow"
    >
    <div
      class="collectionSlider__container">
      <div
        class="collectionSlider__image">
        <h2
          class="section-title">{{ heading }}</h2>
        <h2
          class="section-title">{{ subtitle }}</h2>
        {{ image_tag }}
      </div>
      <div
        class="collectionSlider__slider">
            <span class="prev">
            {% render 'icon' with 'arrow-thin-left' %}
          </span>
        
          <span class="next">
            {% render 'icon' with 'arrow-thin-right' %}
          </span>
          <ul class="jump-to-slide"></ul>

              
                      {% if productsCollection != blank %}
                          <div
                              class="product-list  slideshow--viewport
                              " data-slideshow-viewport>
                              {% for product in collections[productsCollection].products  %}
                                <div class="slide
                                {% if forloop.index == 1 %}
                                  active
                                {% endif %}">
                                {%
                                    render 'product-item',
                                    product: product,
                                    collection: productsCollection,
                                    forloop: forloop,
                                    onboarding: false,
                                    
                                    %}
                                    <div class="image-wrap"></div>

                                </div>
                              {% endfor %}
                          </div>
                          {% else %}
                          <div
                              class="product-list  slideshow--viewport
                              " data-slideshow-viewport>
                              {% for i in (1..4) %}
                                <div class="slide
                                {% if forloop.index == 1 %}
                                  active
                                {% endif %}">

                                    {%
                                        render 'product-item',
                                        forloop: forloop,
                                        onboarding: true, %}
                                    <div class="image-wrap"></div>

                                </div>
                              {% endfor %}
                          </div>
                      {% endif %}

        
        </div>

    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Slider collection",
    "class": "shopify-section--slider-collection",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Slider"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Collection"
      }

    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Featured slider collection"
      }
    ],
    "disabled_on": {
      "groups": ["*"]
    }
  }
{% endschema %}